ProcesoImsa/Web References/gt.com.imsa.handheldws/wsServicioFarmaciaImsa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://wsServicioFarmaciaImsa" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://wsServicioFarmaciaImsa" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wsServicioFarmaciaImsa">
      <s:element name="setConsumoMedicamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clsFarmaciaImsaReq" type="tns:clsFarmaciaImsaRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsFarmaciaImsaRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClsEncabezado" type="tns:ArrayOfClsEncabezado" />
          <s:element minOccurs="0" maxOccurs="1" name="ClsDetalle" type="tns:ArrayOfClsDetalle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfClsEncabezado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsEncabezado" nillable="true" type="tns:clsEncabezado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsEncabezado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cod_empleado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_transaccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="total" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pagosye" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfClsDetalle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsDetalle" nillable="true" type="tns:clsDetalle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsDetalle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="correlativo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_empleado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_transaccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="monto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="setConsumoMedicamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setConsumoMedicamentoResult" type="tns:clsFarmaciaImsaResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsFarmaciaImsaResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cod_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="setConsumoMedicamentoSoapIn">
    <wsdl:part name="parameters" element="tns:setConsumoMedicamento" />
  </wsdl:message>
  <wsdl:message name="setConsumoMedicamentoSoapOut">
    <wsdl:part name="parameters" element="tns:setConsumoMedicamentoResponse" />
  </wsdl:message>
  <wsdl:portType name="wsServicioFarmaciaImsaSoap">
    <wsdl:operation name="setConsumoMedicamento">
      <wsdl:input message="tns:setConsumoMedicamentoSoapIn" />
      <wsdl:output message="tns:setConsumoMedicamentoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsServicioFarmaciaImsaSoap" type="tns:wsServicioFarmaciaImsaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setConsumoMedicamento">
      <soap:operation soapAction="http://wsServicioFarmaciaImsa/setConsumoMedicamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsServicioFarmaciaImsaSoap12" type="tns:wsServicioFarmaciaImsaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setConsumoMedicamento">
      <soap12:operation soapAction="http://wsServicioFarmaciaImsa/setConsumoMedicamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsServicioFarmaciaImsa">
    <wsdl:port name="wsServicioFarmaciaImsaSoap" binding="tns:wsServicioFarmaciaImsaSoap">
      <soap:address location="https://handheldws.imsa.com.gt/wsIMSAFarmacia/wsServicioFarmaciaImsa.asmx" />
    </wsdl:port>
    <wsdl:port name="wsServicioFarmaciaImsaSoap12" binding="tns:wsServicioFarmaciaImsaSoap12">
      <soap12:address location="https://handheldws.imsa.com.gt/wsIMSAFarmacia/wsServicioFarmaciaImsa.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>